<template name="home">
  <div class="bg-uni">
		<div class="container">
			<header class="bg-header clearfix mrgt7x">
				<div class="col-md-10 col-md-offset-1">
					<div class="lower-header">
						<div class="logo pull-left">
						 	<a id="brand" class="clearfix navbar-brand logo" href="index.html">CardPay</a>
						</div>
						<div class="menu pull-right">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar first"></span>
				                <span class="icon-bar middle"></span>
				                <span class="icon-bar last"></span>
			            	</button>
							<nav id="navbar" class="navbar navbar-collapse collapse">
								<ul class="navbar nav">
									<li class="active"><a href="index.html">HOME</a></li>
									<li><a href="#about">ABOUT</a></li>
									<li><a href="#howitworks">HOW IT WORKS</a></li>
									<li><a href="blog.html">BLOG POST</a></li>
									<li><a href="#contact">CONTACT</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<div class="main-slider">
				<div class="slider-carousel">
					<div class="item">
						<div class="slider-img">
							<img src="images/myimages/student3.jpg" class="img-responsive" alt="#" />
							<div class="slider-text">
								<h2 class="info-head"> Get all your Academic Cards,<br>  anywhere, at your own time</h2>
								<div class="call-to-action">
									<button type="button" class="btn btn-success btn-lg" width="60%">Get a Card</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="navBar">
  <div id="page">
    <div id="header">
      <a class="navicon" href="#menu-left"> </a>
    </div>
    <nav id="menu-left">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="blog.html">Blog</a></li>
        <div class="clear"> </div>
      </ul>
    </nav>
  </div>
</template>
<template name="header">

</template>
