<template name="home">
  <div class="content">
    {{> mainHeader}}
    <div class="main">
      <div class="wrap">
        <div class="main_left">
          <h2>MONEY AND THE POWER</h2>
          <p>Susu is a mobile a web solution that enables merchants and developers easily accept mobile money and other payment options from consumers.</p>
          <div class="buttons">
            <div class="sign_up">
              <a href="#">SIGN UP</a>
            </div>
            <div class="learn">
              <a href="/details" class="arrow_btn">LEARN MORE</a>
            </div>
            <div class="clear"> </div>
          </div>
        </div>
        <div class="main_right">
          <span> </span>
        </div>
        <div class="clear"> </div>
        <!---//End-header -->
      </div>
    </div>
  </div>
  <div class="buttom">
    <div class="wrap">
      <div class="top-grids">
        <div class="top-grid">
          <a href="#"><img src="/images/icon1.png"/></a>
          <!-- <h3><a href="#">Api and Custom Access.</a></h3> -->
          <h3><a href="#">Convenience</a></h3>
          <p>
            We provide an array of api's and checkout options for your needs. No need to work with individual payment providers.
            Use our internal bank integrated system to also receive money directly into your bank account.
          </p>
        </div>
        <div class="top-grid">
          <a href="#"> <img src="/images/icon2.png"/></a>
          <h3><a href="#">Confident</a></h3>
          <!-- <h3><a href="#">Secure transactions and payments.</a></h3> -->
          <p>Safe transactions is a neccessity and we ensure you do get that easily.</p>
        </div>
        <div class="top-grid">
          <a href="#"><img src="/images/icon3.png"/> </a>
          <h3><a href="#">Instant Integration</a></h3>
          <p>With susu you are assured your money is sent instantly and your business can go on.</p>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
  <div id="">

  </div>
  <div class="footer">
    <div class="wrap">
      <div class="footer-left">
        <div class="copy">
          <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
        </div>
      </div>
      <div class="social_icons">
        <ul>
          <li class="in"><a href="#"><span> </span></a></li>
          <li class="pro"><a href="#"><span> </span></a></li>
          <li class="twitter"><a href="#"><span> </span></a></li>
          <li class="facebook"><a href="#"><span> </span></a></li>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clear"> </div>
    </div>

  </div>
</template>

<template name="navBar">
  <div id="page">
    <div id="header">
      <a class="navicon" href="#menu-left"> </a>
    </div>
    <nav id="menu-left">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="blog.html">Blog</a></li>
        <div class="clear"> </div>
      </ul>
    </nav>
  </div>
</template>
<template name="header">

</template>
